**
!config/**/*.py
!config/settings/logging.json
!docker/
!locale/**/*.po
!socnet/**/*.py
!socnet/static/
!socnet/templates/
!socnet_rs/src/**/*.rs
!socnet_rs/Cargo.toml
!socnet_rs/Cargo.lock
!socnet_rs/pyproject.toml
!socnet_rs/socnet_rs.pyi
!manage.py
!poetry.lock
!pyproject.toml
Dockerfile
