**
!./config/**/*.py
!./config/settings/logging.json
!./docker/
!./locale/**/*.po
!./socnet/**/*.py
!./socnet/static/
./socnet/static/public/css/
./socnet/static/public/js/
./socnet/static/public/*.js
./socnet/static/public/*.ttf
./socnet/static/public/*.woff2
!./socnet/templates/
!./socnet_rs/src/**/*.rs
!./socnet_rs/Cargo.toml
!./socnet_rs/Cargo.lock
!./socnet_rs/pyproject.toml
!./socnet_rs/socnet_rs.pyi
!./.env
!./manage.py
!./package-lock.json
!./package.json
!./pyproject.toml
!./server.py
!./tsconfig.json
!./uv.lock
Dockerfile
