**
!./config/**/*.py
!./config/settings/logging.json
!./docker/
!./locale/**/*.po
!./socnet/**/*.py
!./socnet/static/
./socnet/static/public/css/
./socnet/static/public/js/
!./socnet/templates/
!./socnet_rs/src/
!./socnet_rs/Cargo.toml
!./socnet_rs/Cargo.lock
!./socnet_rs/pyproject.toml
!./socnet_rs/socnet_rs.pyi
!./dev_serve.py
!./manage.py
!./package-lock.json
!./package.json
!./pyproject.toml
!./tsconfig.json
!./uv.lock
Dockerfile
