repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
        exclude_types:
          - rust
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: destroyed-symlinks
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: trailing-whitespace
  # - repo: https://github.com/thibaudcolas/pre-commit-stylelint
  #   rev: v17.0.0
  #   hooks:
  #     - id: stylelint
  #       args:
  #         - --fix=lax
  #       additional_dependencies:
  #         - stylelint
  #         - stylelint-config-standard
  #         - stylelint-config-recess-order
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.8.1
    hooks:
      - id: prettier
        args:
          - --object-wrap=collapse
          - --no-config
  - repo: https://github.com/adamchainz/django-upgrade
    rev: "1.30.0"
    hooks:
      - id: django-upgrade
        args:
          - --target-version
          - "5.2"
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.15.4
    hooks:
      - id: ruff-check
        args:
          - --fix
      - id: ruff-format
  - repo: https://github.com/Riverside-Healthcare/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat
      - id: djlint
