[project]
name = "app"
version = "0.1.0"
requires-python = ">=3.14,<3.15"
dependencies = [
  "channels==4.3.2",
  "channels-redis==4.3",
  "django[argon2]==5.2.9",
  "django-allauth[mfa]==65.13.1",
  "django-bootstrap5==25.3",
  "django-cleanup==9",
  "django-environ==0.12",
  "django-filter==25.2",
  "django-htmx==1.27.0",
  "django-logentry-admin==1.1",
  "django-ninja==1.5.0",
  "django-stubs-ext==5.2.2",
  "docutils==0.22.3",
  "granian==2.6.0",
  "orjson==3.11.4",
  "pillow==12.0.0",
  "psycopg[pool]==3.3.1",
  "sentry-sdk[django]==2.47.0",
  "socnet-rs",
  "uvloop==0.22.1; implementation_name=='cpython' and (sys_platform=='darwin' or sys_platform=='linux')",
]
optional-dependencies.local = [
  "covdefaults==2.3",
  "debugpy==1.8.17",
  "django-coverage-plugin==3.2.0",
  "django-debug-toolbar==6.1.0",
  "factory-boy==3.3.3",
  "psycopg[binary]==3.3.1",
  "pytest==9.0.1",
  "pytest-cov==7.0.0",
  "pytest-django==4.11.1",
  "pytest-github-actions-annotate-failures==0.3",
  "watchfiles==1.1.1",
]
optional-dependencies.production = [
  "psycopg[c]==3.3.1",
  "redis[hiredis]==7.1.0",
]

[dependency-groups]
dev = [
  "django-stubs==5.2.2",
  "djlint==1.36.4",
  "mypy[faster-cache]==1.19.0",
  "ruff==0.14.7",
  "types-pillow==10.2.0.20240822",
]

[tool.uv]
package = false

[tool.uv.sources]
socnet-rs = { path = "socnet_rs", editable = false }
