{% extends "base.html" %}

{% load static i18n %}

{% block title %}
  {% trans "Liked posts" %} - {{ user.get_username }}
{% endblock title %}
{% block links %}
  {% include "main/inc/font_awesome.html" %}
  <link rel="stylesheet" href="{% static 'css/avatar_preview.css' %}"/>
  <link rel="stylesheet" href="{% static 'main/css/img.css' %}"/>
{% endblock links %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-xl-6">
      {% if posts %}
        {% include "main/inc/posts.html" %}
      {% else %}
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              {% if request.user == user %}
                {% trans "You have no liked posts." %}
              {% else %}
                {% trans "The user has no liked posts." %}
              {% endif %}
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock content %}
{% block scripts %}
  {% if posts %}
    {% csrf_token %}
    <script defer src="{% static 'main/js/like_post.js' %}"></script>
  {% endif %}
{% endblock scripts %}
