{% extends "base.html" %}

{% load static i18n %}

{% block title %}
    {% trans "Subscriptions" %} - {{ user.get_username }}
{% endblock title %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/avatar_preview.css' %}"/>
{% endblock links %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-xl-6">
            {% for subscription in user.subscriptions.all %}
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="avatar-preview">
                                {% if subscription.image %}
                                    <img class="rounded"
                                         alt=""
                                         loading="lazy"
                                         src="{{ subscription.image.url }}"/>
                                {% endif %}
                            </div>
                            <div class="col ms-2 d-flex justify-content-between">
                                <div class="text-break">
                                    <a href="{{ subscription.get_absolute_url }}">{{ subscription.get_username }}</a>
                                    {{ subscription.full_name_in_brackets }}
                                </div>
                                {% if request.user == user %}
                                    <div>
                                        <span class="btn btn-primary" data-is-subscribed="y" data-user-pk={{ subscription.pk }}>{% trans "Unsubscribe" %}</span>
                                        <span class="btn btn-primary d-none" data-is-subscribed="n" data-user-pk={{ subscription.pk }}>{% trans "Subscribe" %}</span>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            {% if request.user == user %}
                                {% trans "You have no subscriptions." %}
                            {% else %}
                                {% trans "The user has no subscriptions." %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    {% if request.user == user %}
        {% csrf_token %}
        <script async src="{% static 'main/js/subscribe.js' %}"></script>
    {% endif %}
{% endblock scripts %}
