{% extends "list_group.html" %}

{% load i18n %}

{% block title %}
  {% translate "Account security" %}
{% endblock title %}
{% block list_group %}
  <h3 class="list-group-item text-center">{% translate "Account security" %}</h3>
  <a href="{% url 'account_change_password' %}"
     class="list-group-item list-group-item-action text-body"><i class="fa-solid fa-key text-primary me-1"></i> {% blocktranslate context "noun" %}Change password{% endblocktranslate %}</a>
  <a href="{% url 'account_email' %}"
     class="list-group-item list-group-item-action text-body"><i class="fa-solid fa-envelope text-primary me-1"></i> {% blocktranslate context "noun" %}Change email{% endblocktranslate %}</a>
  <a href="{% url 'mfa_index' %}"
     class="list-group-item list-group-item-action text-body"><i class="fa-solid fa-fingerprint text-primary me-1"></i> {% translate "Two-factor authentication" %}</a>
  <a href="{% url 'users:delete_account' %}"
     class="list-group-item list-group-item-action text-body"><i class="fa-solid fa-trash text-danger me-1"></i> {% blocktranslate context "noun" %}Delete account{% endblocktranslate %}</a>
{% endblock list_group %}
