{% extends "list_group.html" %}

{% load django_bootstrap5 i18n static %}

{% block title %}
  {% blocktranslate context "noun" %}Search users{% endblocktranslate %}
{% endblock title %}
{% block css %}
  {% if users %}
    <link rel="stylesheet" href="{% static 'css/avatar_thumbnail.css' %}" />
  {% endif %}
{% endblock css %}
{% block js %}
  <script type="module" src="{% static 'js/autosize.js' %}"></script>
{% endblock js %}
{% block list_group %}
  <div class="list-group-item">
    <h3 class="mb-3 text-center">
      {% blocktranslate context "noun" %}Search users{% endblocktranslate %}
    </h3>
    <form method="get">
      {% bootstrap_form form layout="floating" %}
      <button type="submit" class="btn btn-primary w-100">
        {% blocktranslate context "verb" %}Search{% endblocktranslate %}
      </button>
    </form>
  </div>
  {% if request.GET %}
    {% if users %}
      {% include "users/inc/search_users.html" %}
    {% else %}
      {% if form.is_valid %}
        <div class="list-group-item text-center">
          {% translate "No users found." %}
        </div>
      {% endif %}
    {% endif %}
  {% endif %}
{% endblock list_group %}
