{% load static i18n %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}" class="bg-light">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>
      {% block title %}
      {% endblock title %}
    | SocNet</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css"
          integrity="sha512-XWTTruHZEYJsxV3W/lSXG1n3Q39YIWOstqvmFsdNEEQfHoZ6vm6E9GK2OrF6DSJSpIbRbi+Nn0WDPID9O7xB2Q=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"/>
    {% block css %}
    {% endblock css %}
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/js/bootstrap.bundle.min.js" integrity="sha512-9GacT4119eY3AcosfWtHMsT5JyZudrexyEVzTBWV3viP/YfB9e2pEy3N7WXL3SV6ASXpTU0vzzSxsbfsuUH4sQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% if request.method == "POST" %}
      <script async src="{% static 'js/prevent_post_on_refresh.js' %}"></script>
    {% endif %}
    {% if request.user.is_authenticated %}
      {% block javascript %}
      {% endblock javascript %}
    {% endif %}
  </head>
  <body class="bg-light">
    <div class="mb-3">
      <div class="sticky-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
          <div class="container">
            <div class="navbar-toggler"
                 data-bs-toggle="collapse"
                 data-bs-target="#navbarNav">
              <span class="navbar-toggler-icon"></span>
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                {% if request.user.is_authenticated %}
                  <li class="nav-item">
                    {% with request.user.get_absolute_url as user_url %}
                      <a href="{{ user_url }}"
                         class="nav-link
                                {% if user_url == request.path %}
                                  active
                                {% endif %}">{% trans "My page" %}</a>
                    {% endwith %}
                  </li>
                  <li class="nav-item">
                    {% url 'posts' as url_posts %}
                    <a href="{{ url_posts }}"
                       class="nav-link
                              {% if url_posts == request.path %}
                                active
                              {% endif %}">{% trans "Posts" %}</a>
                  </li>
                  <li class="nav-item">
                    {% url 'chats' as url_chats %}
                    <a href="{{ url_chats }}"
                       class="nav-link
                              {% if url_chats == request.path %}
                                active
                              {% endif %}">{% trans "Messenger" %}</a>
                  </li>
                {% else %}
                  <li class="nav-item">
                    {% url 'posts' as url_posts %}
                    <a href="{{ url_posts }}"
                       class="nav-link
                              {% if url_posts == request.path %}
                                active
                              {% endif %}">{% trans "Posts" %}</a>
                  </li>
                {% endif %}
                <li class="nav-item">
                  {% url 'users_search' as url_users_search %}
                  <a href="{{ url_users_search }}"
                     class="nav-link
                            {% if url_users_search == request.path %}
                              active
                            {% endif %}">{% trans "Search users" %}</a>
                </li>
              </ul>
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  {% if request.user.is_authenticated %}
                    {% url 'account_logout' as url_logout %}
                    <a href="{{ url_logout }}"
                       class="nav-link
                              {% if url_logout == request.path %}
                                active
                              {% endif %}">
                      {% trans "Sign Out" %}
                    </a>
                  {% else %}
                    {% url 'account_login' as url_login %}
                    <a href="{{ url_login }}"
                       class="nav-link
                              {% if url_login == request.path %}
                                active
                              {% endif %}">{% trans "Sign In" %}</a>
                  {% endif %}
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div class="container">
      {% if messages %}
        {% for message in messages %}
          <div class="alert
                      {% if message.tags == "error" %}
                        alert-danger
                      {% elif message.tags %}
                        alert-{{ message.tags }}
                      {% endif %} alert-dismissible">
            <div>{{ message }}</div>
            <div class="btn btn-close" data-bs-dismiss="alert"></div>
          </div>
        {% endfor %}
      {% endif %}
      {% block content %}
      {% endblock content %}
    </div>
  </body>
</html>
