{% load static i18n %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}" class="bg-light">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>
      {% block title %}
      {% endblock title %}
    | SocNet</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
          integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"/>
    {% block css %}
    {% endblock css %}
    <script defer
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js"
            integrity="sha512-i9cEfJwUwViEPFKdC1enz4ZRGBj8YQo6QByFTF92YXHi7waCqyexvRD75S5NVTsSiTv7rKWqG9Y5eFxmRsOn0A=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    {% if request.method == "POST" %}
      <script async src="{% static 'js/prevent_post_on_refresh.js' %}"></script>
    {% endif %}
    {% block javascript %}
    {% endblock javascript %}
  </head>
  <body class="bg-light">
    <div class="mb-3">
      <div class="sticky-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
          <div class="container">
            <button type="button"
                    class="navbar-toggler"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                {% if request.user.is_authenticated %}
                  <li class="nav-item">
                    {% with user_url=request.user.get_absolute_url %}
                      <a href="{{ user_url }}"
                         class="nav-link
                                {% if user_url == request.path %}
                                  active
                                {% endif %}">
                        {% trans "My page" %}
                      </a>
                    {% endwith %}
                  </li>
                  <li class="nav-item">
                    {% url "blog:posts" as url_posts %}
                    <a href="{{ url_posts }}"
                       class="nav-link
                              {% if url_posts == request.path %}
                                active
                              {% endif %}">
                      {% trans "Posts" %}
                    </a>
                  </li>
                  <li class="nav-item">
                    {% url "messenger:chats" as url_chats %}
                    <a href="{{ url_chats }}"
                       class="nav-link
                              {% if url_chats == request.path %}
                                active
                              {% endif %}">
                      {% trans "Messenger" %}
                    </a>
                  </li>
                {% else %}
                  <li class="nav-item">
                    {% url "blog:posts" as url_posts %}
                    <a href="{{ url_posts }}"
                       class="nav-link
                              {% if url_posts == request.path %}
                                active
                              {% endif %}">
                      {% trans "Posts" %}
                    </a>
                  </li>
                {% endif %}
                <li class="nav-item">
                  {% url "users:search_users" as url_search_users %}
                  <a href="{{ url_search_users }}"
                     class="nav-link
                            {% if url_search_users == request.path %}
                              active
                            {% endif %}">
                    {% trans "Search users" %}
                  </a>
                </li>
                {% if request.user.is_staff %}
                  <li class="nav-item">
                    <a href="{% url 'admin:index' %}" class="nav-link">
                      {% trans "Admin panel" %}
                    </a>
                  </li>
                {% endif %}
              </ul>
              <ul class="navbar-nav ms-auto">
                {% if request.user.is_authenticated %}
                  <li class="nav-item">
                    {% url "account_logout" as url_logout %}
                    <a href="{{ url_logout }}"
                       class="nav-link
                              {% if url_logout == request.path %}
                                active
                              {% endif %}">
                      {% trans "Log out" %}
                    </a>
                  </li>
                {% else %}
                  <li class="nav-item">
                    {% url "account_login" as url_login %}
                    <a href="{{ url_login }}"
                       class="nav-link
                              {% if url_login == request.path %}
                                active
                              {% endif %}">
                      {% trans "Log in" %}
                    </a>
                  </li>
                  <li class="nav-item">
                    {% url "account_signup" as url_signup %}
                    <a href="{{ url_signup }}"
                       class="nav-link
                              {% if url_signup == request.path %}
                                active
                              {% endif %}">
                      {% trans "Register" %}
                    </a>
                  </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div class="container">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags|default:'primary' }} alert-dismissible fade show"
             role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
      {% endfor %}
      {% block content %}
      {% endblock content %}
    </div>
  </body>
</html>
