# https://caddyserver.com/docs/caddyfile
{
	email {$TLS_EMAIL}
}

# Redirect "www" to "non-www"
www.{$DOMAIN_NAME} {
	redir https://{$DOMAIN_NAME}{uri}
}

{$DOMAIN_NAME} {
	header {
		-Server
		?Strict-Transport-Security max-age=31536000; includeSubDomains; preload
		?X-Content-Type-Options nosniff
		?X-Frame-Options DENY
		?Referrer-Policy same-origin
	}

	@app {
		not path /static/* /media/*
	}

	reverse_proxy @app django:5000

	@staticMedia {
		path /static/* /media/*
	}

	file_server @staticMedia {
		# Parent directory of `STATIC_ROOT` and `MEDIA_ROOT`
		root /var/www/django
	}

	encode gzip
}
