# https://caddyserver.com/docs/caddyfile
{
	admin off
	email {$TLS_EMAIL}
}

(common) {
	header {
		-Server
		-Via
		Content-Security-Policy "default-src 'none'; connect-src 'self'; font-src 'self' https://cdn.jsdelivr.net; script-src 'self' 'unsafe-inline' https://cdn.jsdelivr.net; style-src 'self' 'unsafe-inline' https://cdn.jsdelivr.net; img-src 'self' blob: data: https:;"
		Permissions-Policy "interest-cohort=()"
		Referrer-Policy "same-origin"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
	}

	encode zstd gzip
}

{$DOMAIN_NAME} {
	import common

	handle_errors {
		import common
	}

	handle /robots.txt {
		respond 200 {
			body "User-agent: *
Disallow: /"
		}
	}

	handle_path /static/* {
		# STATIC_ROOT
		root * /var/www/django/static
		file_server
	}

	handle_path /media/* {
		# MEDIA_ROOT
		root * /var/www/django/media
		file_server
	}

	handle {
		reverse_proxy django:8000 {
			transport http {
				versions 1.1
			}
		}
	}
}
