{% extends "card.html" %}

{% load i18n crispy_forms_tags %}

{% block title %}
  {% trans "Change Password" %}
{% endblock title %}
{% block card_body %}
  <h3 class="text-center mb-4">
    {% if token_fail %}
      {% trans "Bad Token" %}
    {% else %}
      {% trans "Change Password" %}
    {% endif %}
  </h3>
  {% if token_fail %}
    <div>
      {% url "account_reset_password" as passwd_reset_url %}
      {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
    </div>
  {% else %}
    <form method="post" action="{{ action_url }}">
      {% csrf_token %}
      {{ form|crispy }}
      <input class="btn btn-primary w-100"
             type="submit"
             name="action"
             value="{% trans 'Change Password' %}"/>
    </form>
  {% endif %}
{% endblock card_body %}
