{% load i18n markdownify obj_admin_url %}

<div class="card-title mb-1">
  {% if request.user.is_staff %}
    <div class="mb-1 text-end">
      <a href="{{ post|obj_admin_url }}" class="btn btn-outline-primary">{% trans "Admin page" %}</a>
    </div>
  {% endif %}
  <div class="row align-items-center">
    <div class="avatar-thumbnail">
      {% if post.author.image %}
        <img src="{{ post.author.image.url }}"
             alt=""
             loading="lazy"
             class="rounded"/>
      {% endif %}
    </div>
    <div class="col ms-2">
      <div class="d-flex justify-content-between">
        <div>
          <div class="text-break">
            <a href="{{ post.author.get_absolute_url }}"
               class="text-decoration-none">
              {{ post.author }}
            </a>
          </div>
          <a href="{{ post.get_absolute_url }}"
             class="text-decoration-none text-muted">
            {{ post.date_created }}
            {% if post.date_created|date:"U" != post.date_updated|date:"U" %}
              ({% trans "last edited" %} {{ post.date_updated }})
            {% endif %}
          </a>
        </div>
        {% if post.author == request.user %}
          <div>
            <a href="{% url 'blog:post_update' post.pk %}"
               class="text-decoration-none">
              <i class="fa-solid fa-pen-to-square btn text-primary"></i>
            </a>
            <i class="fa-solid fa-xmark btn text-danger"
               data-bs-toggle="modal"
               data-bs-target="#post{{ post.pk }}_modal"></i>
          </div>
          <div class="modal fade" id="post{{ post.pk }}_modal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">{% trans "Delete post" %}</h5>
                  <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                  {% trans "Are you sure you want to delete your post?" %}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    {% trans "Close" %}
                  </button>
                  <form action="{% url 'blog:post_delete' post.pk %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">{% trans "Delete" %}</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div class="ms-1 img-responsive">{{ post.content|markdownify }}</div>
<div class="fs-4">
  {% if request.user.is_anonymous %}
    <a href="{% url 'account_login' %}?next={{ request.path|urlencode }}"
       class="btn badge rounded-pill bg-light text-dark">
      <i class="fa-regular fa-heart"></i>
      <span>{{ post.likers__count }}</span>
    </a>
  {% elif post.is_liked %}
    <button type="button"
            class="btn badge rounded-pill bg-light text-dark"
            data-is-liked="y"
            data-post-pk="{{ post.pk }}">
      <i class="text-danger fa-solid fa-heart"></i>
      <span>{{ post.likers__count }}</span>
    </button>
  {% else %}
    <button type="button"
            class="btn badge rounded-pill bg-light text-dark"
            data-is-liked="n"
            data-post-pk="{{ post.pk }}">
      <i class="fa-regular fa-heart"></i>
      <span>{{ post.likers__count }}</span>
    </button>
  {% endif %}
  <a href="{{ post.get_absolute_url }}"
     class="btn badge rounded-pill bg-light text-dark">
    <i class="fa-regular fa-comment"></i>
    {{ post.comments__count }}
  </a>
</div>
