{% load static i18n %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}" class="bg-light">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>
      {% block title %}
      {% endblock title %}
    | SocNet</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0-beta1/css/bootstrap.min.css"
          integrity="sha512-o/MhoRPVLExxZjCFVBsm17Pkztkzmh7Dp8k7/3JrtNCHh0AQ489kwpfA3dPSHzKDe8YCuEhxXq3Y71eb/o6amg=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"/>
    {% block links %}
    {% endblock links %}
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0-beta1/js/bootstrap.bundle.min.js" integrity="sha512-ndrrR94PW3ckaAvvWrAzRi5JWjF71/Pw7TlSo6judANOFCmz0d+0YE+qIGamRRSnVzSvIyGs4BTtyFMm3MT/cg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% if request.method == "POST" %}
      <script async src="{% static 'js/prevent_post_on_refresh.js' %}"></script>
    {% endif %}
    {% if request.user.is_authenticated %}
      {% block scripts %}
      {% endblock scripts %}
    {% endif %}
  </head>
  <body class="bg-light">
    <div class="mb-3">
      <div class="sticky-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
          <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">SocNet</a>
            <div class="navbar-toggler"
                 data-bs-toggle="collapse"
                 data-bs-target="#navbarNav">
              <span class="navbar-toggler-icon"></span>
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
              <div class="me-auto">
                {% if request.user.is_authenticated %}
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a href="{{ request.user.get_absolute_url }}" class="nav-link">{% trans "My page" %}</a>
                    </li>
                    <li class="nav-item">
                      <a href="{% url 'posts' %}" class="nav-link">{% trans "Posts" %}</a>
                    </li>
                    <li class="nav-item">
                      <a href="{% url 'chats' %}" class="nav-link">{% trans "Messenger" %}</a>
                    </li>
                    <li class="nav-item">
                      <a href="{% url 'subscriptions' request.user.get_username %}"
                         class="nav-link">{% trans "Subscriptions" %}</a>
                    </li>
                  </ul>
                {% else %}
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a href="{% url 'posts' %}" class="nav-link">{% trans "Posts" %}</a>
                    </li>
                  </ul>
                {% endif %}
              </div>
              <ul class="navbar-nav me-2">
                <li class="nav-item">
                  <a href="{% url 'users_search' %}" class="nav-link">{% trans "Search users" %}</a>
                </li>
              </ul>
              {% if request.user.is_authenticated %}
                <a href="{% url 'account_logout' %}">
                  <div class="btn btn-primary">{% trans "Sign Out" %}</div>
                </a>
              {% else %}
                <a href="{% url 'account_login' %}">
                  <div class="btn btn-primary me-2">{% trans "Sign In" %}</div>
                </a>
                <a href="{% url 'account_signup' %}">
                  <div class="btn btn-primary">{% trans "Sign Up" %}</div>
                </a>
              {% endif %}
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div class="container">
      {% if messages %}
        {% for message in messages %}
          <div class="alert
                      {% if message.tags == "error" %}
                        alert-danger
                      {% elif message.tags %}
                        alert-{{ message.tags }}
                      {% endif %} alert-dismissible">
            <div>{{ message }}</div>
            <div class="btn btn-close" data-bs-dismiss="alert"></div>
          </div>
        {% endfor %}
      {% endif %}
      {% block content %}
      {% endblock content %}
    </div>
  </body>
</html>
