{% extends "base.html" %}

{% load i18n crispy_forms_tags %}

{% block title %}
  {% translate "Email addresses" %}
{% endblock title %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-xl-6">
      <div class="card">
        <div class="card-body">
          <h3 class="mb-3 text-center">{% translate "Email addresses" %}</h3>
          {% with emailaddress_set=user.emailaddress_set.all %}
            {% with emailaddress__count=emailaddress_set.count %}
              {% if emailaddress_set %}
                <div class="mb-2">
                  {% translate "The following email addresses are associated with your account:" %}
                </div>
                <form method="post">
                  {% csrf_token %}
                  <div class="mb-3">
                    {% for emailaddress in emailaddress_set %}
                      <div>
                        <input type="radio"
                               name="email"
                               {% if emailaddress.primary or emailaddress__count == 1 %}checked="checked"{% endif %}
                               value="{{ emailaddress.email }}" />
                        {{ emailaddress.email }}
                        {% if emailaddress.verified %}
                          {% translate "Verified" %}
                        {% else %}
                          {% translate "Unverified" %}
                        {% endif %}
                        {% if emailaddress.primary %}
                          {% translate "Primary" %}
                        {% endif %}
                      </div>
                    {% endfor %}
                  </div>
                  <div class="row">
                    <div class="col">
                      <button type="submit"
                              name="action_primary"
                              class="btn btn-primary w-100 h-100">
                        {% translate "Make primary" %}
                      </button>
                    </div>
                    <div class="col">
                      <button type="submit" name="action_send" class="btn btn-primary w-100 h-100">
                        {% translate "Resend verification" %}
                      </button>
                    </div>
                    <div class="col">
                      <button type="button"
                              class="btn btn-danger w-100 h-100"
                              data-bs-toggle="modal"
                              data-bs-target="#emailRemove">
                        {% translate "Remove" %}
                      </button>
                    </div>
                  </div>
                  <div class="modal fade" id="emailRemove" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                          {% translate "Do you really want to remove the selected email address?" %}
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            {% translate "Close" %}
                          </button>
                          <button type="submit" name="action_remove" class="btn btn-danger">
                            {% translate "Remove" %}
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              {% else %}
                <div>
                  {% translate "You currently do not have an email address set up. You should add an email address so you can receive notifications, reset your password, etc." %}
                </div>
              {% endif %}
            {% endwith %}
          {% endwith %}
        </div>
      </div>
      {% if can_add_email %}
        <div class="card mt-3">
          <div class="card-body">
            <h3 class="text-center">{% translate "Add email address" %}</h3>
            <form method="post">
              {% csrf_token %}
              {{ form|crispy }}
              <button type="submit" name="action_add" class="btn btn-primary w-100">
                {% translate "Add email address" %}
              </button>
            </form>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock content %}
