{% extends "card.html" %}

{% load i18n %}

{% block title %}
  {% translate "Confirm email address" %}
{% endblock title %}
{% block card_body %}
  <h3 class="mb-3 text-center">{% translate "Confirm email address" %}</h3>
  {% if confirmation %}
    <div class="mb-3">
      {% blocktranslate trimmed with email=confirmation.email_address.email user=confirmation.email_address.user user_url=confirmation.email_address.user.get_absolute_url %}
        Confirm that <a href="mailto:{{ email }}">{{ email }}</a> is the email address of the user <a href="{{ user_url }}">{{ user }}</a>.
      {% endblocktranslate %}
    </div>
    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-primary w-100">
        {% translate "Confirm" %}
      </button>
    </form>
  {% else %}
    <div>
      {% url "account_email" as email_url %}
      {% blocktranslate trimmed %}
        This email confirmation link has expired or is invalid. <a href="{{ email_url }}">Send a new email confirmation request</a>.
      {% endblocktranslate %}
    </div>
  {% endif %}
{% endblock card_body %}
