{% extends "col.html" %}

{% load django_bootstrap5 i18n %}

{% block title %}
  {% translate "Email addresses" %}
{% endblock title %}
{% block col %}
  <div class="card">
    <div class="card-body">
      <h3 class="mb-3 text-center">{% translate "Email addresses" %}</h3>
      {% if emailaddresses %}
        <form action="{% url 'account_email' %}" method="post">
          {% csrf_token %}
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th class="text-center" scope="col">{% translate "Verified" %}</th>
                  <th class="text-center" scope="col">{% translate "Primary" %}</th>
                </tr>
              </thead>
              <tbody>
                {% for emailaddress in emailaddresses %}
                  <tr>
                    <td>
                      <input
                        type="radio"
                        name="email"
                        {% if emailaddress.primary or emailaddresses|length == 1 %}checked{% endif %}
                        value="{{ emailaddress.email }}"
                      />
                      <a
                        class="link-underline link-underline-opacity-0 link-underline-opacity-100-hover"
                        href="mailto:{{ emailaddress.email }}"
                      >{{ emailaddress.email }}</a>
                    </td>
                    <td class="text-center">
                      {% if emailaddress.verified %}
                        <i class="fa-solid fa-check text-success"></i>
                      {% else %}
                        <i class="fa-solid fa-xmark text-danger"></i>
                      {% endif %}
                    </td>
                    <td class="text-center">
                      {% if emailaddress.primary %}
                        <i class="fa-solid fa-check text-success"></i>
                      {% else %}
                        <i class="fa-solid fa-xmark text-danger"></i>
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="col-12 col-lg-4 mb-2 mb-lg-0">
              <button
                class="btn btn-primary w-100 h-100"
                name="action_primary"
                type="submit"
              >{% translate "Make primary" %}</button>
            </div>
            <div class="col-12 col-lg-4 mb-2 mb-lg-0">
              <button class="btn btn-primary w-100 h-100" name="action_send" type="submit">
                {% translate "Resend verification" %}
              </button>
            </div>
            <div class="col-12 col-lg-4 mb-2 mb-lg-0">
              <button
                class="btn btn-danger w-100 h-100"
                data-bs-target="#emailRemove"
                data-bs-toggle="modal"
                type="button"
              >{% translate "Remove" %}</button>
            </div>
          </div>
          <div id="emailRemove" class="modal fade" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <button class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body">
                  {% translate "Do you really want to remove the selected email address?" %}
                </div>
                <div class="modal-footer">
                  <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">
                    {% translate "Close" %}
                  </button>
                  <button class="btn btn-danger" name="action_remove" type="submit">
                    {% translate "Remove" %}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      {% else %}
        {% include "account/snippets/warn_no_email.html" %}
      {% endif %}
    </div>
  </div>
  {% if can_add_email %}
    <div class="card mt-3">
      <div class="card-body">
        <h3 class="mb-3 text-center">
          {% blocktranslate context "noun" %}Add email address{% endblocktranslate %}
        </h3>
        <form action="{% url 'account_email' %}" method="post">
          {% csrf_token %}
          {% bootstrap_form form %}
          <button class="btn btn-primary w-100" name="action_add" type="submit">
            {% translate "Add" %}
          </button>
        </form>
      </div>
    </div>
  {% endif %}
{% endblock col %}
