{% extends "base.html" %}

{% load i18n crispy_forms_tags %}

{% block title %}
  {% trans "Email addresses" %}
{% endblock title %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-xl-6">
      <div class="card">
        <div class="card-body">
          <h3 class="text-center mb-3">{% trans "Email addresses" %}</h3>
          {% with emailaddress_set=user.emailaddress_set.all  %}
            {% if emailaddress_set %}
              <div class="mb-3">
                {% trans "The following email addresses are associated with your account:" %}
              </div>
              <form method="post">
                {% csrf_token %}
                <div class="mb-2">
                  {% for emailaddress in emailaddress_set %}
                    <div>
                      <input type="radio"
                             name="email"
                             {% if emailaddress.primary or user.emailaddress_set.count == 1 %}
                               checked="checked"
                             {% endif %}
                             value="{{ emailaddress.email }}"/>
                      {{ emailaddress.email }}
                      {% if emailaddress.verified %}
                        {% trans "Verified" %}
                      {% else %}
                        {% trans "Unverified" %}
                      {% endif %}
                      {% if emailaddress.primary %}
                        {% trans "Primary" %}
                      {% endif %}
                    </div>
                  {% endfor %}
                </div>
                <button class="btn btn-primary" type="submit" name="action_primary">
                  {% trans "Make primary" %}
                </button>
                <button class="btn btn-primary" type="submit" name="action_send">
                  {% trans "Resend verification" %}
                </button>
                <button type="button"
                        class="btn btn-danger"
                        data-bs-toggle="modal"
                        data-bs-target="#emailRemove">
                  {% trans "Remove" %}
                </button>
                <div class="modal fade" id="emailRemove" tabindex="-1">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                      </div>
                      <div class="modal-body">
                        {% trans "Do you really want to remove the selected email address?" %}
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                          {% trans "Close" %}
                        </button>
                        <button type="submit" class="btn btn-danger" name="action_remove">
                          {% trans "Remove" %}
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            {% else %}
              <div>
                {% trans "You currently do not have an email address set up. You should add an email address so you can receive notifications, reset your password, etc." %}
              </div>
            {% endif %}
          {% endwith %}
        </div>
      </div>
      {% if can_add_email %}
        <div class="card mt-4">
          <div class="card-body">
            <h4 class="text-center">{% trans "Add email address" %}</h4>
            <form method="post">
              {% csrf_token %}
              {{ form|crispy }}
              <button class="btn btn-primary w-100" name="action_add" type="submit">
                {% trans "Add email address" %}
              </button>
            </form>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock content %}
