{% extends "card.html" %}

{% load i18n django_bootstrap5 %}

{% block title %}
  {% translate "Log in" %}
{% endblock title %}
{% block card_body %}
  <h3 class="mb-3 text-center">{% translate "Log in" %}</h3>
  <div class="mb-3">
    {% blocktranslate trimmed %}
      If you don't have an account yet, <a href="{{ signup_url }}">register</a>.
    {% endblocktranslate %}
  </div>
  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form layout="floating" %}
    {% if redirect_field_value %}
      <input type="hidden"
             name="{{ redirect_field_name }}"
             value="{{ redirect_field_value }}" />
    {% endif %}
    <div class="mb-3 text-center">
      <a href="{% url 'account_reset_password' %}">{% translate "Forgot password?" %}</a>
    </div>
    <button type="submit" class="btn btn-primary w-100">
      {% translate "Log in" %}
    </button>
  </form>
{% endblock card_body %}
