{% extends "list_group.html" %}

{% load django_bootstrap5 i18n %}

{% block title %}
  {% blocktranslate context "noun" %}Log in{% endblocktranslate %}
{% endblock title %}
{% block list_group %}
  <div class="list-group-item">
    <h3 class="mb-3 text-center">
      {% blocktranslate context "noun" %}Log in{% endblocktranslate %}
    </h3>
    <form method="post" action="{% url 'account_login' %}">
      {% csrf_token %}
      {% bootstrap_form form layout="floating" %}
      {% if redirect_field_value %}
        <input type="hidden"
               name="{{ redirect_field_name }}"
               value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="mb-3 text-center">
        <a href="{% url 'account_reset_password' %}"
           class="link-underline link-underline-opacity-0 link-underline-opacity-100-hover">{% translate "Forgot password?" %}</a>
      </div>
      <button type="submit" class="btn btn-primary w-100">
        {% blocktranslate context "verb" %}Log in{% endblocktranslate %}
      </button>
    </form>
  </div>
  <div class="list-group-item text-center">
    {% blocktranslate trimmed %}
      If you don't have an account yet,
      <a href="{{ signup_url }}"
         class="link-underline link-underline-opacity-0 link-underline-opacity-100-hover">sign up</a>.
    {% endblocktranslate %}
  </div>
{% endblock list_group %}
