{% extends "card.html" %}

{% load i18n %}

{% block title %}
  {% trans "Sign Out" %}
{% endblock title %}
{% block card_body %}
  <h3 class="text-center mb-4">{% trans "Sign Out" %}</h3>
  <div class="mb-3">{% trans "Are you sure you want to sign out?" %}</div>
  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
      <input type="hidden"
             name="{{ redirect_field_name }}"
             value="{{ redirect_field_value }}"/>
    {% endif %}
    <button class="btn btn-primary w-100" type="submit">
      {% trans "Sign Out" %}
    </button>
  </form>
{% endblock card_body %}
