{% extends "card.html" %}

{% load i18n %}

{% block title %}
  {% blocktranslate context "noun" %}Log out{% endblocktranslate %}
{% endblock title %}
{% block card %}
  <h3 class="mb-3 text-center">
    {% blocktranslate context "noun" %}Log out{% endblocktranslate %}
  </h3>
  {% translate "Are you sure you want to log out?" %}
  <form method="post" action="{% url 'account_logout' %}" class="mt-3">
    {% csrf_token %}
    {% if redirect_field_value %}
      <input type="hidden"
             name="{{ redirect_field_name }}"
             value="{{ redirect_field_value }}" />
    {% endif %}
    <button type="submit" class="btn btn-primary w-100">
      {% blocktranslate context "verb" %}Log out{% endblocktranslate %}
    </button>
  </form>
{% endblock card %}
