{% extends "card.html" %}

{% load i18n %}

{% block title %}
  {% translate "Log out" %}
{% endblock title %}
{% block card_body %}
  <h3 class="mb-3 text-center">{% translate "Log out" %}</h3>
  <div class="mb-3">{% translate "Are you sure you want to log out?" %}</div>
  <form method="post">
    {% csrf_token %}
    {% if redirect_field_value %}
      <input type="hidden"
             name="{{ redirect_field_name }}"
             value="{{ redirect_field_value }}" />
    {% endif %}
    <button type="submit" class="btn btn-primary w-100">
      {% translate "Log out" %}
    </button>
  </form>
{% endblock card_body %}
