{% extends "card.html" %}

{% load i18n crispy_forms_tags %}

{% block title %}
  {% trans "Password Reset" %}
{% endblock title %}
{% block card_body %}
  <h3 class="text-center mb-4">{% trans "Password Reset" %}</h3>
  {% if user.is_authenticated %}
    <div class="mb-3 text-break">
      {% include "account/snippets/already_logged_in.html" %}
    </div>
  {% endif %}
  <div class="mb-3">
    {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
  </div>
  <form method="post" action="{% url 'account_reset_password' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-primary w-100"
           type="submit"
           value="{% trans 'Reset My Password' %}"/>
  </form>
{% endblock card_body %}
