{% extends "card.html" %}

{% load django_bootstrap5 i18n %}

{% block title %}
  {% blocktranslate context "noun" %}Set password{% endblocktranslate %}
{% endblock title %}
{% block card %}
  <h3 class="mb-3 text-center">
    {% blocktranslate context "noun" %}Set password{% endblocktranslate %}
  </h3>
  <form method="post" action="{% url 'account_set_password' %}">
    {% csrf_token %}
    {% bootstrap_form form layout="floating" %}
    <button type="submit" name="action" class="btn btn-primary w-100">
      {% blocktranslate context "verb" %}Set password{% endblocktranslate %}
    </button>
  </form>
{% endblock card %}
