{% extends "card.html" %}

{% load django_bootstrap5 i18n %}

{% block title %}
  {% blocktranslate context "noun" %}Change password{% endblocktranslate %}
{% endblock title %}
{% block card %}
  <h3 class="mb-3 text-center">
    {% if token_fail %}
      {% translate "Bad token" %}
    {% else %}
      {% blocktranslate context "noun" %}Change password{% endblocktranslate %}
    {% endif %}
  </h3>
  {% if token_fail %}
    {% url "account_reset_password" as passwd_reset_url %}
    {% blocktranslate trimmed %}
      The password reset link is invalid, possibly because it has already been used. Request a
      <a href="{{ passwd_reset_url }}"
         class="link-underline link-underline-opacity-0 link-underline-opacity-100-hover">new password reset</a>.
    {% endblocktranslate %}
  {% else %}
    <form method="post" action="{{ action_url }}">
      {% csrf_token %}
      {% bootstrap_form form layout="floating" %}
      <button type="submit" name="action" class="btn btn-primary w-100">
        {% blocktranslate context "verb" %}Change password{% endblocktranslate %}
      </button>
    </form>
  {% endif %}
{% endblock card %}
