{% extends "card.html" %}

{% load i18n crispy_forms_tags %}

{% block title %}
  {% translate "Change password" %}
{% endblock title %}
{% block card_body %}
  <h3 class="mb-3 text-center">{% translate "Change password" %}</h3>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" name="action" class="btn btn-primary w-100 mb-2">
      {% translate "Change password" %}
    </button>
    <a href="{% url 'account_reset_password' %}">{% translate "Forgot password?" %}</a>
  </form>
{% endblock card_body %}
