{% extends "list_group.html" %}

{% load django_bootstrap5 i18n %}

{% block title %}
  {% blocktranslate context "noun" %}Change password{% endblocktranslate %}
{% endblock title %}
{% block list_group %}
  <div class="list-group-item">
    <h3 class="mb-3 text-center">
      {% blocktranslate context "noun" %}Change password{% endblocktranslate %}
    </h3>
    <form method="post" action="{% url 'account_change_password' %}">
      {% csrf_token %}
      {% bootstrap_form form layout="floating" %}
      <button type="submit" name="action" class="btn btn-primary w-100">
        {% blocktranslate context "verb" %}Change password{% endblocktranslate %}
      </button>
    </form>
  </div>
  <div class="list-group-item text-center">
    <a href="{% url 'account_reset_password' %}"
       class="link-underline link-underline-opacity-0 link-underline-opacity-100-hover">{% translate "Forgot password?" %}</a>
  </div>
{% endblock list_group %}
