{% extends "card.html" %}

{% load i18n crispy_forms_tags %}

{% block title %}
  {% trans "Register" %}
{% endblock title %}
{% block card_body %}
  <h3 class="text-center mb-3">{% trans "Register" %}</h3>
  <div class="mb-3">
    {% blocktrans %}If you already have an account, <a href="{{ login_url }}">log in</a>.{% endblocktrans %}
  </div>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
      <input type="hidden"
             name="{{ redirect_field_name }}"
             value="{{ redirect_field_value }}"/>
    {% endif %}
    <button class="btn btn-primary w-100" type="submit">
      {% trans "Register" %}
    </button>
  </form>
{% endblock card_body %}
