{% extends "card.html" %}

{% load i18n django_bootstrap5 %}

{% block title %}
  {% translate "Register" %}
{% endblock title %}
{% block card_body %}
  <h3 class="mb-3 text-center">{% translate "Register" %}</h3>
  <div class="mb-3">
    {% blocktranslate trimmed %}
      If you already have an account, <a href="{{ login_url }}">log in</a>.
    {% endblocktranslate %}
  </div>
  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form layout="floating" %}
    {% if redirect_field_value %}
      <input type="hidden"
             name="{{ redirect_field_name }}"
             value="{{ redirect_field_value }}" />
    {% endif %}
    <button type="submit" class="btn btn-primary w-100">
      {% translate "Register" %}
    </button>
  </form>
{% endblock card_body %}
