{% extends "card.html" %}

{% load django_bootstrap5 i18n static %}

{% block title %}
  {% blocktranslate with comment_pk=object.pk context "noun" %}Edit comment #{{ comment_pk }}{% endblocktranslate %}
{% endblock title %}
{% block js %}
  <script type="module" src="{% static 'js/autosize.js' %}"></script>
{% endblock js %}
{% block card %}
  <h3 class="mb-3 text-center">
    {% blocktranslate trimmed with comment_url=object.get_absolute_url comment_pk=object.pk context "noun" %}
      Edit
      <a href="{{ comment_url }}"
         class="link-underline link-underline-opacity-0 link-underline-opacity-100-hover">comment #{{ comment_pk }}</a>
    {% endblocktranslate %}
  </h3>
  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary w-100">
      {% translate "Save" %}
    </button>
  </form>
{% endblock card %}
