{% extends "base.html" %}

{% load static i18n %}

{% block title %}
  {{ user }} - {% trans "liked posts" %}
{% endblock title %}
{% block css %}
  {% include "inc/font_awesome.html" %}
  <link rel="stylesheet" href="{% static 'css/avatar_thumbnail.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/img_responsive.css' %}"/>
{% endblock css %}
{% block javascript %}
  <script defer src="{% static 'js/like.js' %}"></script>
{% endblock javascript %}
{% block content %}
  {% csrf_token %}
  <div class="row justify-content-center">
    <div class="col-xl-6">
      {% with posts=user.liked_posts.all %}
        {% if posts %}
          <div class="card mb-2">
            <div class="card-body">
              <h3 class="text-center">
                <a href="{{ user.get_absolute_url }}" class="text-decoration-none">{{ user }}</a>
                <div>{% trans "Liked posts" %}</div>
              </h3>
            </div>
          </div>
          {% include "blog/inc/posts_preview.html" %}
        {% else %}
          <div class="card">
            <div class="card-body">
              <div class="text-center">
                {% blocktrans %}{{ user }} has no liked posts.{% endblocktrans %}
              </div>
            </div>
          </div>
        {% endif %}
      {% endwith %}
    </div>
  </div>
{% endblock content %}
