{% extends "col.html" %}

{% load i18n static %}

{% block title %}
  {{ user.display_name }} ({{ user.username }})- {% translate "liked posts" %}
{% endblock title %}
{% block css %}
  {% if posts %}
    {% include "blog/inc/post_css.html" %}
  {% endif %}
{% endblock css %}
{% block js %}
  {% if posts %}
    {% include "blog/inc/post_js.html" %}
  {% endif %}
{% endblock js %}
{% block col %}
  {% if posts %}
    <div class="card">
      <div class="card-body">
        <h3 class="mb-0 text-center">
          <a href="{{ user.get_absolute_url }}"
             class="link-underline link-underline-opacity-0 link-underline-opacity-100-hover">{{ user.display_name }} ({{ user.username }})</a>
          <div>{% translate "Liked posts" %}</div>
        </h3>
      </div>
    </div>
    {% csrf_token %}
    {% include "blog/inc/posts_preview.html" %}
  {% else %}
    <div class="card">
      <div class="card-body text-center">
        {% blocktranslate trimmed with display_name=user.display_name username=user.username user_url=user.get_absolute_url %}
          <a href="{{ user_url }}"
             class="link-underline link-underline-opacity-0 link-underline-opacity-100-hover">{{ display_name }} ({{ username }})</a>
          has no liked posts.
        {% endblocktranslate %}
      </div>
    </div>
  {% endif %}
{% endblock col %}
