{% extends "card.html" %}

{% load static i18n crispy_forms_tags markdownify obj_admin_url %}

{% block title %}
  {% blocktranslate trimmed with post_pk=post.pk %}
    Post #{{ post_pk }}
  {% endblocktranslate %}
{% endblock title %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/avatar_thumbnail.css' %}" />
  <link rel="stylesheet" href="{% static 'css/img_responsive.css' %}" />
{% endblock css %}
{% block javascript %}
  <script defer src="{% static 'js/like.js' %}"></script>
{% endblock javascript %}
{% block card_body %}
  {% csrf_token %}
  {% include "blog/inc/post_body.html" %}
  <hr />
  {% if request.user.is_authenticated %}
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-primary w-100">
        {% translate "Comment" %}
      </button>
    </form>
  {% else %}
    <a href="{% url 'account_login' %}?next={{ request.path|urlencode }}"
       class="btn btn-primary w-100">{% translate "Comment" %}</a>
  {% endif %}
  {% for comment in post.comments.all %}
    <hr class="mt-3" />
    <div id="comment{{ comment.pk }}">
      <div class="row">
        <div class="avatar-thumbnail">
          {% if comment.author.image %}
            <img src="{{ comment.author.image.url }}"
                 alt=""
                 loading="lazy"
                 class="rounded" />
          {% endif %}
        </div>
        <div class="col ms-2">
          <div class="d-flex justify-content-between">
            <div class="text-break">
              <a href="{{ comment.author.get_absolute_url }}"
                 class="text-decoration-none">{{ comment.author }}</a>
            </div>
            {% if request.user.is_staff or comment.author == request.user or comment.post.author == request.user %}
              <div class="dropdown">
                <button class="btn" type="button" data-bs-toggle="dropdown">
                  <i class="fa-solid fa-ellipsis text-secondary"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                  {% if request.user.is_staff %}
                    <li>
                      <a href="{{ comment|obj_admin_url }}" class="dropdown-item">
                        <i class="fa-solid fa-toolbox text-primary"></i>
                        {% translate "Admin page" %}
                      </a>
                    </li>
                  {% endif %}
                  {% if comment.author == request.user %}
                    <li>
                      <a href="{% url 'blog:comment_update' comment.pk %}"
                         class="dropdown-item">
                        <i class="fa-solid fa-pen-to-square text-primary"></i>
                        {% translate "Edit" %}
                      </a>
                    </li>
                  {% endif %}
                  {% if comment.author == request.user or comment.post.author == request.user %}
                    <li>
                      <button type="button"
                              class="dropdown-item"
                              data-bs-toggle="modal"
                              data-bs-target="#comment{{ comment.pk }}_modal">
                        <i class="fa-solid fa-xmark text-danger"></i>
                        {% translate "Delete" %}
                      </button>
                    </li>
                  {% endif %}
                </ul>
              </div>
              {% if comment.author == request.user or comment.post.author == request.user %}
                <div class="modal fade" id="comment{{ comment.pk }}_modal" tabindex="-1">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">{% translate "Delete comment" %}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                      </div>
                      <div class="modal-body">
                        {% translate "Are you sure you want to delete your comment?" %}
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                          {% translate "Close" %}
                        </button>
                        <form action="{% url 'blog:comment_delete' comment.pk %}?next={{ post.get_absolute_url }}"
                              method="post">
                          {% csrf_token %}
                          <button type="submit" class="btn btn-danger">{% translate "Delete" %}</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endif %}
          </div>
          <div class="text-break img-responsive">{{ comment.content|markdownify }}</div>
          <div class="d-flex justify-content-between">
            <a href="{{ comment.get_absolute_url }}"
               class="text-decoration-none text-secondary">
              {{ comment.date_created }}
              {% if comment.date_created|date:"U" != comment.date_updated|date:"U" %}
                ({% translate "last edited" %} {{ comment.date_updated }})
              {% endif %}
            </a>
            <div>
              {% if request.user.is_anonymous %}
                <a href="{% url 'account_login' %}?next={{ request.path|urlencode }}"
                   class="btn badge rounded-pill text-bg-color fs-6">
                  <i class="fa-regular fa-heart"></i>
                  {{ comment.likers__count }}
                </a>
              {% elif comment.is_liked %}
                <button type="button"
                        class="btn badge rounded-pill text-bg-color fs-6"
                        data-is-liked="y"
                        data-post-comment-pk="{{ comment.pk }}">
                  <i class="fa-solid fa-heart text-danger"></i>
                  <span>{{ comment.likers__count }}</span>
                </button>
              {% else %}
                <button type="button"
                        class="btn badge rounded-pill text-bg-color fs-6"
                        data-is-liked="n"
                        data-post-comment-pk="{{ comment.pk }}">
                  <i class="fa-regular fa-heart"></i>
                  <span>{{ comment.likers__count }}</span>
                </button>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock card_body %}
