{% extends "card.html" %}

{% load i18n static django_bootstrap5 %}

{% block title %}
  {% blocktranslate context "noun" %}Create post{% endblocktranslate %}
{% endblock title %}
{% block javascript %}
  <script type="module" src="{% static 'js/autosize.js' %}"></script>
{% endblock javascript %}
{% block card %}
  <h3 class="mb-3 text-center">
    {% blocktranslate context "noun" %}Create post{% endblocktranslate %}
  </h3>
  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary w-100">
      {% translate "Create" %}
    </button>
  </form>
{% endblock card %}
