{% extends "list_group.html" %}

{% load django_bootstrap5 i18n static %}

{% block title %}
  {% blocktranslate with post_pk=post.pk %}Post #{{ post_pk }}{% endblocktranslate %}
{% endblock title %}
{% block css %}
  {% include "blog/inc/post_css.html" %}
{% endblock css %}
{% block js %}
  {% if post.allow_commenting or request.user == post.author %}
    <script type="module" src="{% static 'js/autosize.js' %}"></script>
  {% endif %}
  {% include "blog/inc/post_js.html" %}
{% endblock js %}
{% block list_group %}
  <div class="list-group-item">{% include "blog/inc/post_body.html" %}</div>
  <div class="list-group-item"
       {% if comments is None %} hx-get="{% url "blog:comments" post.pk %}" hx-trigger="revealed" hx-swap="afterend" {% endif %}>
    {% if not post.allow_commenting and request.user != post.author %}
      <div class="text-center">
        {% translate "The author has restricted commenting on this post." %}
      </div>
    {% elif request.user.is_anonymous %}
      <div class="text-center">
        {% url 'account_login' as url_login %}
        {% blocktranslate trimmed with next=request.path|urlencode %}
          <a href="{{ url_login }}?next={{ next }}"
             class="link-underline link-underline-opacity-0 link-underline-opacity-100-hover">Log in</a>
          to comment.
        {% endblocktranslate %}
      </div>
    {% else %}
      <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary w-100">
          {% blocktranslate context "verb" %}Comment{% endblocktranslate %}
        </button>
      </form>
    {% endif %}
  </div>
  {% if comments is not None %}
    {% include "blog/inc/comments.html" %}
  {% endif %}
{% endblock list_group %}
