{% extends "col.html" %}

{% load django_bootstrap5 i18n static %}

{% block title %}
  {% translate "Posts" %}
{% endblock title %}
{% block css %}
  {% if posts %}
    {% include "blog/inc/post_css.html" %}
  {% endif %}
{% endblock css %}
{% block javascript %}
  {% if posts %}
    {% include "blog/inc/post_js.html" %}
  {% endif %}
  <script type="module" src="{% static 'js/autosize.js' %}"></script>
{% endblock javascript %}
{% block col %}
  <form method="get">
    {% bootstrap_form_errors form %}
    <div class="input-group">
      {{ form.q }}
      <button type="submit" class="btn btn-primary">
        <i class="fa-solid fa-magnifying-glass mx-2"></i>
      </button>
    </div>
  </form>
  {% if posts %}
    {% csrf_token %}
    {% include "blog/inc/posts_preview.html" %}
  {% elif not is_search %}
    <div class="card mt-2">
      <div class="card-body text-center">
        {% translate "Subscribe to users you are interested in, so that their posts are displayed here." %}
      </div>
    </div>
  {% elif form.is_valid %}
    <div class="card mt-2">
      <div class="card-body text-center">{% translate "No posts found." %}</div>
    </div>
  {% endif %}
{% endblock col %}
