{% extends "list_group.html" %}

{% load i18n static %}

{% block title %}
  {{ user.display_name }} ({{ user.username }}) - {% translate "subscriptions" %}
{% endblock title %}
{% block css %}
  {% if subscriptions %}
    <link rel="stylesheet" href="{% static 'css/avatar_thumbnail.css' %}" />
  {% endif %}
{% endblock css %}
{% block javascript %}
  {% if subscriptions and user == request.user %}
    <script type="module" src="{% static 'js/user_subscribe.js' %}"></script>
  {% endif %}
{% endblock javascript %}
{% block list_group %}
  {% if subscriptions %}
    {% csrf_token %}
    <h3 class="list-group-item text-center">
      <a href="{{ user.get_absolute_url }}"
         class="link-underline link-underline-opacity-0 link-underline-opacity-100-hover text-break">{{ user.display_name }} ({{ user.username }})</a>
      <div>{% translate "Subscriptions" %}</div>
    </h3>
    {% for subscription in subscriptions %}
      <div class="list-group-item list-group-item-action d-flex align-items-center">
        <div class="avatar-thumbnail d-flex align-items-center justify-content-center me-2">
          {% if subscription.image %}
            <img src="{{ subscription.image.url }}" loading="lazy" class="rounded" />
          {% else %}
            <i class="fa-solid fa-user text-secondary"></i>
          {% endif %}
        </div>
        <a href="{{ subscription.get_absolute_url }}"
           class="stretched-link text-break text-decoration-none">
          <span class="text-body">{{ subscription.display_name }}</span>
          <span class="text-secondary">@{{ subscription.username }}</span>
        </a>
        {% if user == request.user %}
          <button type="button"
                  class="btn btn-primary ms-auto z-1"
                  data-is-subscribed="y"
                  data-text-toggle="{% translate "Subscribe" %}"
                  data-username="{{ subscription.username }}">
            {% translate "Unsubscribe" %}
          </button>
        {% endif %}
      </div>
    {% endfor %}
  {% else %}
    <div class="list-group-item text-center">
      {% blocktranslate trimmed with display_name=user.display_name username=user.username user_url=user.get_absolute_url %}
        <a href="{{ user_url }}"
           class="link-underline link-underline-opacity-0 link-underline-opacity-100-hover">{{ display_name }} ({{ username }})</a>
        has no subscriptions.
      {% endblocktranslate %}
    </div>
  {% endif %}
{% endblock list_group %}
