{% extends "base.html" %}

{% load static i18n %}

{% block title %}
  {{ user }} - {% trans "subscribers" %}
{% endblock title %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/avatar_thumbnail.css' %}" />
{% endblock css %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-xl-6">
      {% with subscribers=user.subscribers.all %}
        {% if subscribers %}
          <div class="card mb-1">
            <div class="card-body">
              <h3 class="text-center">
                <a href="{{ user.get_absolute_url }}" class="text-decoration-none">
                  {{ user }}
                </a>
                <div>{% trans "Subscribers" %}</div>
              </h3>
            </div>
          </div>
          {% for subscriber in subscribers %}
            <div class="card mb-1">
              <a href="{{ subscriber.get_absolute_url }}" class="text-decoration-none">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="avatar-thumbnail">
                      {% if subscriber.image %}
                        <img src="{{ subscriber.image.url }}"
                             alt=""
                             loading="lazy"
                             class="rounded" />
                      {% endif %}
                    </div>
                    <div class="col ms-2">
                      <div class="text-break">
                        {{ subscriber }}
                        {{ subscriber.display_name_in_parentheses }}
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          {% endfor %}
        {% else %}
          <div class="card">
            <div class="card-body">
              <div class="text-center">
                {% blocktrans %}{{ user }} has no subscribers.{% endblocktrans %}
              </div>
            </div>
          </div>
        {% endif %}
      {% endwith %}
    </div>
  </div>
{% endblock content %}
