{% extends "base.html" %}

{% load static i18n obj_admin_url %}

{% block title %}
  {{ user }}
{% endblock title %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/avatar.css' %}" />
{% endblock css %}
{% block javascript %}
  <script defer src="{% static 'js/user_subscribe.js' %}"></script>
{% endblock javascript %}
{% block content %}
  {% csrf_token %}
  <div class="row">
    <div class="col-12 col-xl-3 mb-2 mb-xl-0">
      <div class="card">
        <div class="card-body">
          {% if user.image %}
            <div class="text-center">
              <img src="{{ user.image.url }}"
                   alt=""
                   loading="lazy"
                   class="img-thumbnail avatar mb-2" />
            </div>
          {% endif %}
          {% if request.user == user %}
            <a href="{% url 'users:edit_profile' %}"
               class="btn btn-primary w-100 mb-2">{% translate "Edit" %}</a>
            <a href="{% url 'blog:post_create' %}" class="btn btn-primary w-100">
              {% translate "Create post" %}
            </a>
          {% elif request.user.is_authenticated %}
            <a href="{% url 'messenger:chat' user.get_username %}"
               class="btn btn-primary w-100 mb-2">
              {% translate "Write message" %}
            </a>
            <div>
              {% if user.is_subscription %}
                <button type="button"
                        class="btn btn-outline-primary w-100"
                        data-is-subscribed="y"
                        data-username="{{ user.get_username }}">
                  {% translate "Unsubscribe" %}
                </button>
                <button type="button"
                        class="btn btn-primary w-100 d-none"
                        data-is-subscribed="n"
                        data-username="{{ user.get_username }}">
                  {% translate "Subscribe" %}
                </button>
              {% else %}
                <button type="button"
                        class="btn btn-outline-primary w-100 d-none"
                        data-is-subscribed="y"
                        data-username="{{ user.get_username }}">
                  {% translate "Unsubscribe" %}
                </button>
                <button type="button"
                        class="btn btn-primary w-100"
                        data-is-subscribed="n"
                        data-username="{{ user.get_username }}">
                  {% translate "Subscribe" %}
                </button>
              {% endif %}
            </div>
          {% else %}
            <a href="{% url 'account_login' %}?next={{ request.path|urlencode }}"
               class="btn btn-primary w-100 mb-2">
              {% translate "Write message" %}
            </a>
            <a href="{% url 'account_login' %}?next={{ request.path|urlencode }}"
               class="btn btn-primary w-100">{% translate "Subscribe" %}</a>
          {% endif %}
          {% if request.user.is_staff %}
            <a href="{{ user|obj_admin_url }}" class="btn btn-primary w-100 mt-2">
              {% translate "Admin page" %}
            </a>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-9">
      <div class="card h-100">
        <div class="card-body">
          <div class="ms-2">
            <h4>{{ user }}</h4>
            <h4>{{ user.display_name }}</h4>
          </div>
          <table class="table">
            <tbody>
              {% if user.birth_date %}
                <tr>
                  <td>{% translate "Birth date" %}</td>
                  <td>{{ user.birth_date }} ({{ user.age }})</td>
                </tr>
              {% endif %}
              {% if user.location %}
                <tr>
                  <td>{% translate "Location" %}</td>
                  <td class="text-break">{{ user.location }}</td>
                </tr>
              {% endif %}
              {% if user.about %}
                <tr>
                  <td>{% translate "About me" %}</td>
                  <td class="text-break">{{ user.about|linebreaksbr }}</td>
                </tr>
              {% endif %}
              <tr>
                <td>{% translate "Posts" %}</td>
                <td>
                  <a href="{% url 'blog:user_posts' user.get_username %}">
                    {{ user.posts__count }}
                  </a>
                </td>
              </tr>
              <tr>
                <td>{% translate "Subscriptions" %}</td>
                <td>
                  <a href="{% url 'blog:subscriptions' user.get_username %}">
                    {{ user.subscriptions__count }}
                  </a>
                </td>
              </tr>
              <tr>
                <td>{% translate "Subscribers" %}</td>
                <td>
                  <a href="{% url 'blog:subscribers' user.get_username %}"
                     id="subscribers_count">{{ user.subscribers__count }}</a>
                </td>
              </tr>
              <tr>
                <td>{% translate "Liked posts" %}</td>
                <td>
                  <a href="{% url 'blog:liked_posts' user.get_username %}">
                    {{ user.liked_posts__count }}
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
