.avatar-thumbnail {
  width: 48px;
  height: 48px;
}

.avatar-thumbnail-no-height {
  width: 48px;
  max-height: 48px;
}

.avatar-thumbnail img,
.avatar-thumbnail-no-height img {
  max-width: 48px;
  max-height: 48px;
}

.avatar-thumbnail i,
.avatar-thumbnail-no-height i {
  font-size: 48px;
}

.avatar-thumbnail-font-size {
  width: calc(var(--bs-body-font-size) * var(--bs-body-line-height));
  height: calc(var(--bs-body-font-size) * var(--bs-body-line-height));
}

.avatar-thumbnail-font-size img {
  max-width: calc(var(--bs-body-font-size) * var(--bs-body-line-height));
  max-height: calc(var(--bs-body-font-size) * var(--bs-body-line-height));
}
