{% extends "base.html" %}

{% load static i18n crispy_forms_tags %}

{% block title %}
  {% trans "Search users" %}
{% endblock title %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/avatar_thumbnail.css' %}"/>
{% endblock css %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-xl-6">
      <div class="card">
        <div class="card-body">
          <h3 class="mb-4 text-center">{% trans "Search users" %}</h3>
          <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary w-100">
              {% trans "Search" %}
            </button>
          </form>
        </div>
      </div>
      {% if request.method == "POST" %}
        {% for user in users %}
          <div class="card mt-1">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="avatar-thumbnail">
                  {% if user.image %}
                    <img class="rounded" alt="" loading="lazy" src="{{ user.image.url }}"/>
                  {% endif %}
                </div>
                <div class="col ms-2 text-break">
                  <a href="{{ user.get_absolute_url }}">{{ user.get_username }}</a>
                  {{ user.full_name_in_brackets }}
                </div>
              </div>
            </div>
          </div>
        {% empty %}
          {% if form.is_valid %}
            <div class="card mt-1">
              <div class="card-body">
                <div class="text-center">{% trans "No users found" %}</div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock content %}
