{% extends "card.html" %}

{% load i18n %}

{% block title %}
  {% translate "Two-factor authentication backup tokens" %}
{% endblock title %}
{% block card_body %}
  <h3 class="mb-3 text-center">
    {% translate "Two-factor authentication backup tokens" %}
  </h3>
  <div class="mb-3">
    {% if backup_tokens %}
      {% if reveal_tokens %}
        <ul>
          {% for token in backup_tokens %}<li>{{ token.token }}</li>{% endfor %}
        </ul>
      {% else %}
        {% translate "Backup tokens have been generated, but for security reasons are not disclosed here. Click the button below to generate new ones." %}
      {% endif %}
    {% else %}
      {% translate "No tokens. Click the button below to generate them." %}
    {% endif %}
  </div>
  <form method="post" class="mb-2">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary w-100">
      {% translate "Generate backup tokens" %}
    </button>
  </form>
  <a href="{% url 'two-factor-remove' %}">{% translate "Disable two-factor authentication" %}</a>
{% endblock card_body %}
