.avatar-thumbnail {
  width: 48px;
  height: 48px;
}

.avatar-thumbnail-no-height {
  width: 48px;
  max-height: 48px;
}

.avatar-thumbnail img,
.avatar-thumbnail-no-height img {
  max-width: 48px;
  max-height: 48px;
}

.avatar-thumbnail i,
.avatar-thumbnail-no-height i {
  font-size: 48px;
}
