[project]
name = "socnet-rs"
version = "0.1.0"

[build-system]
requires = ["maturin>=1,<2"]
build-backend = "maturin"

[tool.uv]
cache-keys = [
  { file = "pyproject.toml" },
  { file = "src/**/*.rs" },
  { file = "Cargo.toml" },
  { file = "Cargo.lock" },
]
