{% extends "base.html" %}

{% load static i18n %}

{% block title %}
  {% trans "Chat" %} #{{ chat.pk }}
{% endblock title %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/avatar_thumbnail.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/chat.css' %}"/>
{% endblock css %}
{% block javascript %}
  <script defer src="{% static 'js/chat.js' %}"></script>
{% endblock javascript %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-xl-6">
      <div class="card">
        <div class="card-body py-0">
          <div class="chat-log" id="chat-log">
            {% for message in chat.messages.all %}
              <div class="row mb-3">
                <div class="avatar-thumbnail">
                  {% if message.user.image %}
                    <img src="{{ message.user.image.url }}"
                         alt=""
                         class="rounded"
                         loading="lazy"/>
                  {% endif %}
                </div>
                <div class="col ms-2">
                  <div class="text-break">
                    <div>
                      <a href="{{ message.user.get_absolute_url }}">{{ message.user }}</a>
                      <span class="text-secondary">{{ message.formatted_date }}</span>
                    </div>
                    <div class="me-2">{{ message.text|linebreaksbr }}</div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <form id="messageSendForm">
            <div class="input-group">
              {{ form.text }}
              <button type="submit" class="btn btn-primary" id="messageSubmitBtn">
                {% trans "Send" %}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {{ chat.pk|json_script:"chat-pk" }}
{% endblock content %}
