{% extends "base.html" %}

{% load static i18n markdownify crispy_forms_tags %}

{% block title %}
  {% blocktrans %}Chat with {{ interlocutor }}{% endblocktrans %}
{% endblock title %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/avatar_thumbnail.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/chat.css' %}"/>
{% endblock css %}
{% block javascript %}
  <script defer src="{% static 'js/chat.js' %}"></script>
{% endblock javascript %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-xl-6">
      <div class="card mb-1">
        <div class="card-body text-center">
          <a href="{{ interlocutor.get_absolute_url }}"
             class="text-decoration-none text-dark">
            {% if interlocutor.image %}
              <span class="avatar-thumbnail">
                <img class="rounded"
                     src="{{ interlocutor.image.url }}"
                     alt=""
                     loading="lazy"/>
              </span>
            {% endif %}
            {{ interlocutor }}
            {{ interlocutor.display_name_in_parentheses }}
          </a>
        </div>
      </div>
      <div class="card mb-1">
        <div class="card-body">
          <div id="chat-log">
            {% for message in messages_ %}
              <div class="row mb-3" id="message{{ message.pk }}">
                <div class="avatar-thumbnail">
                  {% if message.sender.image %}
                    <img src="{{ message.sender.image.url }}"
                         alt=""
                         class="rounded"
                         loading="lazy"/>
                  {% endif %}
                </div>
                <div class="col ms-2">
                  <div class="text-break">
                    <div>
                      <a href="{{ message.sender.get_absolute_url }}"
                         class="text-decoration-none">{{ message.sender }} {{ message.sender.display_name_in_parentheses }}</a>
                      <span class="text-secondary">{{ message.formatted_date_created }}</span>
                    </div>
                    <div class="me-2 img-responsive">{{ message.content|markdownify }}</div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <form id="messageSendForm">
            {{ form|as_crispy_errors }}
            <div class="input-group">
              {{ form.content }}
              <button type="submit" class="btn btn-primary" id="messageSendBtn">
                <i class="fa-solid fa-paper-plane px-2"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {{ interlocutor.pk|json_script:"interlocutor_pk" }}
{% endblock content %}
