{% extends "base.html" %}

{% load static i18n %}

{% block title %}
  {% trans "Chats" %}
{% endblock title %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/avatar_thumbnail.css' %}" />
{% endblock css %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-xl-6">
      {% for chat in chats %}
        <div class="card mb-2">
          <a href="{% url 'messenger:chat' chat.get_username %}"
             class="text-dark text-decoration-none">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="avatar-thumbnail">
                  {% if chat.image %}
                    <img src="{{ chat.image.url }}" alt="" loading="lazy" class="rounded" />
                  {% endif %}
                </div>
                <div class="col ms-2 ">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="text-break">
                      {{ chat }}
                      {{ chat.display_name_in_parentheses }}
                      {% if chat.last_message_content %}
                        <div class="text-secondary">
                          {{ chat.last_message_content|truncatechars:30 }}
                        </div>
                      {% endif %}
                    </div>
                    {% if chat.last_message_date %}
                      <div class="text-secondary">{{ chat.last_message_date }}</div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      {% empty %}
        <div class="card">
          <div class="card-body">
            <div class="text-center">{% trans "You have no chats." %}</div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
