{% extends "list_group.html" %}

{% load i18n static %}

{% block title %}
  {% translate "Chats" %}
{% endblock title %}
{% block css %}
  {% if chats %}
    <link rel="stylesheet" href="{% static 'css/avatar_thumbnail.css' %}" />
  {% endif %}
{% endblock css %}
{% block js %}
  {% if chats %}
    <script type="module" src="{% static 'js/date_formatter.js' %}"></script>
    <script type="module" src="{% static 'js/autosize.js' %}"></script>
  {% endif %}
{% endblock js %}
{% block list_group %}
  {% if chats %}
    <form class="list-group-item p-0">
      <div class="input-group">
        {{ form.q }}
        <button type="submit" class="btn btn-primary rounded-bottom-0">
          <i class="fa-solid fa-magnifying-glass mx-2"></i>
        </button>
      </div>
    </form>
    {% for chat in chats %}
      <a href="{% url 'messenger:chat' chat.username %}"
         class="d-flex align-items-center list-group-item list-group-item-action">
        <div class="avatar-thumbnail d-flex align-items-center justify-content-center me-2">
          {% if chat.image %}
            <img src="{{ chat.image.url }}" loading="lazy" class="rounded" />
          {% else %}
            <i class="fa-solid fa-user text-secondary"></i>
          {% endif %}
        </div>
        <div class="text-break">
          <span class="text-body">{{ chat.display_name }}</span>
          <span class="ms-1 text-secondary">@{{ chat.username }}</span>
          <div class="text-secondary">{{ chat.last_message_truncated_content }}</div>
        </div>
        <div class="ms-auto text-secondary"
             data-epoch="{{ chat.last_message_date_epoch }}"></div>
      </a>
    {% endfor %}
  {% else %}
    <div class="list-group-item text-center">
      {% translate "You have no chats." %}
    </div>
  {% endif %}
{% endblock list_group %}
