{% extends "list_group.html" %}

{% load django_bootstrap5 i18n markdownify static %}

{% block title %}
  {% blocktranslate with display_name=interlocutor.display_name username=interlocutor.username %}Chat with {{ display_name }} ({{ username }}){% endblocktranslate %}
{% endblock title %}
{% block css %}
  <link href="{% static 'css/chat.css' %}" rel="stylesheet" />
  <link href="{% static 'css/avatar_thumbnail.css' %}" rel="stylesheet" />
  <link href="{% static 'css/markdown_container.css' %}" rel="stylesheet" />
  <link href="{% static 'css/viewer.css' %}" rel="stylesheet" />
{% endblock css %}
{% block js %}
  <script src="{% static 'js/chat.js' %}" type="module"></script>
  <script src="{% static 'js/date_formatter.js' %}" type="module"></script>
  <script src="{% static 'js/autosize.js' %}" type="module"></script>
  {% if messages_ %}
    <script src="{% static 'js/viewer_markdown.js' %}" type="module"></script>
  {% endif %}
  <script id="data" type="application/json">
    {
      "interlocutorPk": {{ interlocutor.pk }},
      "users": {
        {% if request.user != interlocutor %}
        "{{ interlocutor.username|lower }}": {
          "href": "{{ interlocutor.get_absolute_url }}",
          {% if interlocutor.image %}"image": "{{ interlocutor.image.url }}",{% endif %}
          "displayName": "{{ interlocutor.display_name }}",
          "isCurrentUser": false
        },
        {% endif %}
        "{{ request.user.username|lower }}": {
          "href": "{{ request.user.get_absolute_url }}",
          {% if request.user.image %}"image": "{{ request.user.image.url }}",{% endif %}
          "displayName": "{{ request.user.display_name }}",
          "isCurrentUser": true
        }
      }
    }
  </script>
{% endblock js %}
{% block list_group %}
  <a
    class="list-group-item list-group-item-action"
    href="{{ interlocutor.get_absolute_url }}"
  >
    <div class="d-flex align-items-center justify-content-center">
      {% if interlocutor.image %}
        <div class="avatar-thumbnail-no-height me-2">
          <img class="rounded" loading="lazy" src="{{ interlocutor.image.url }}" />
        </div>
      {% endif %}
      <div class="text-body text-break">
        {{ interlocutor.display_name }}
        ({{ interlocutor.username }})
      </div>
    </div>
  </a>
  <div class="list-group-item p-0">
    <div id="chat-log" class="p-3 overflow-x-hidden overflow-y-scroll">
      {% for message in messages_ %}
        <div id="msg{{ message.pk }}" class="d-flex mb-1">
          <a
            class="avatar-thumbnail d-flex align-items-center me-2"
            href="{{ message.sender.get_absolute_url }}"
          >
            {% if message.sender.image %}
              <img class="rounded" loading="lazy" src="{{ message.sender.image.url }}" />
            {% else %}
              <i class="fa-solid fa-user text-secondary"></i>
            {% endif %}
          </a>
          <div>
            <a
              class="link-underline link-underline-opacity-0 link-underline-opacity-100-hover text-break"
              href="{{ message.sender.get_absolute_url }}"
            >{{ message.sender.display_name }} <span class="text-secondary">@{{ message.sender.username }}</span></a>
            <div class="text-secondary" data-epoch="{{ message.date_created_epoch }}">
            </div>
          </div>
        </div>
        <div class="markdown-container text-break">
          {{ message.content|markdownify }}
        </div>
      {% endfor %}
    </div>
  </div>
  <form id="messageSendForm" class="list-group-item p-0">
    <div class="input-group">
      {{ form.content }}
      <button
        id="messageSendBtn"
        class="btn btn-primary rounded-top-0"
        type="submit"
      >
        <i class="fa-solid fa-paper-plane mx-2"></i>
      </button>
    </div>
  </form>
{% endblock list_group %}
